.slider{
    position: relative;
    max-width: 1400px;
    height: 500px;
    margin: auto;
    
}
.sliderHead{
    position: absolute;
    left: 34%;
    top:170px;
    font-size: 50px;
    font-weight: 700;
}
.sliderImg{
    position: absolute;
    top: 257px;
    left: 5%;
    display: flex;
    gap: 20px;
 
}
.subImg{
    width: 405px;
    height: 257px;
}
.subImg img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.arrow-l{
    position: absolute;
    top: 75%;
    left:0; 
}
 .arrow-r{
    position: absolute;
    top: 75%;
    right:0;
}
 .sliderNav{
    position: absolute;
    bottom:-15%;
    left: 42%;
}
.repo-sliderImg{
    display: none;
}
.repo-sliderImg img{
    max-width: 405px;
    height: 257px;
    border-radius: 10px;
}
.slider-repo{
    display: none;
}